# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
build/
dist/

# Database storage files
*.sqlite
*.sqlite3
*.realm
*.mdb
*.db

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Test coverage reports
coverage/

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp
*.lock

# Git configurations
.gitconfig
